<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.dse.builder_addon">
      <Addon
            Class="org.gemoc.mocc.transformations.ecl2mtl.builder.GemocDSEBuilderAddonExploration"
            Name="org.gemoc.mocc.transformations.ecl2mtl.builder"
            id="org.gemoc.mocc.transformations.ecl2mtl.builder">
      </Addon>
   </extension>

</plugin>
