<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.gemoc.gemoc_language_workbench.engine_addon">
      <Addon
            AddonGroupId="Concurrent.AddonGroup"
            Class="fr.inria.aoste.timesquare.backend.vcdgenerator.manager.VCDGeneratorManager"
            Default="false"
            Name="VCD visualization"
            ShortDescription="Open a Value Change Dump view that displays when the MSE are triggered."
            id="VCD_Visualization">
      </Addon>
   </extension>

</plugin>
